<div *ngIf="colorsDataLoaded==false" class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="form-floating">
  <select #colorList class="form-select" aria-label="Renk adı" (change)="routeTo(('/color/' + colorList.value))">
    <option value="" selected disabled hidden>Renk seçiniz</option>
    <option *ngFor="let color of colors" [value]="color.id">{{color.name}}</option>
  </select>
  <label for="colorList">Filtrelenecek Renk</label>
</div>