.loginButtonLoginText {
  display: block;
  color: #484848;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
}

.loginButtonRegisterText {
  width: 93px;
  display: block;
  font-size: 10px;
  color: #484848;
  white-space: nowrap;
  line-height: 1.4;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
