<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Rent a Car</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/cars">Araba Listesi</a>
        </li>
        <li *ngIf="isLoggedIn | async" class="nav-item dropdown">
          <div *ngIf="isAdmin">
            <div *ngIf="isAdmin === true">
              <a class="nav-link active dropdown-toggle bg-danger rounded" id="managerDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                YÖNETİM
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/brand/manager">Markaları Yönet</a></li>
                <li><a class="dropdown-item" routerLink="/color/manager">Renkleri Yönet</a></li>
                <li><a class="dropdown-item" routerLink="/car/manager">Araçları Yönet</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="me-3">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <app-cart-summary></app-cart-summary>
      </ul>
    </div>

    <div *ngIf="!(isLoggedIn | async)" class="row">
      <button routerLink="/login" class="btn btn-primary rounded me-1 ms-4" style="width: 120px;" type="button"
        id="loginButton">Giriş yap</button>
      <button routerLink="/register" class="btn btn-primary rounded me-2" style="width: 120px;" type="button" id="loginButton">Kayıt
        ol</button>
    </div>

    <div *ngIf="isLoggedIn | async" class="flex-shrink-0 dropdown text-end">
      <!--Profilim-->
      <a class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown"
        aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-person-circle"
          viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </svg>
        <span class="text-light ms-2">{{currentUser.name}}</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end shadow text-small" aria-labelledby="dropdownUser1">
        <li><a routerLink="/profile" class="dropdown-item">Profilim</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a (click)="logOut()" class="dropdown-item">Çıkış yap</a></li>
      </ul>
    </div>
  </div>
</nav>