<div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<ul class="list-group">
  <li class=" list-group-item bg-dark bg-gradient text-light text-center mb-1 rounded ">
    <strong>Markalar</strong>
  </li>
  <div class="mb-1">
    <input type="text" [(ngModel)]="filterBrandText" class="form-control" id="filterBrand" placeholder="Marka adı giriniz">
  </div>
  <li *ngIf="filterBrandText===''"(click)="currentBrand=null" [class]="getAllBrandClass()" routerLink="cars">Tüm markalar</li>
  <li (click)="setCurrentBrand(brand)" [class]="getCurrentBrandClass(brand)" routerLink="cars/brand/{{brand.id}}" *ngFor="let brand of brands | filterBrandPipe:filterBrandText">{{brand.name}}</li>
</ul>
