<body class="text-center">
    <main class="form-signin">
        <form [formGroup]="loginForm">
            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor"
                class="bi bi-person-circle mb-3" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
            </svg>
            <div *ngIf="rememberedEmail">
                <div *ngIf="rememberedEmail != null">
                    <h1 class="h3 mb-3 fw-normal">Hoşgeldiniz <h5>{{rememberedEmail}}</h5>
                    </h1>
                </div>
            </div>

            <div *ngIf="rememberedEmail == null || rememberedEmail == undefined">
                <h1 class="h3 mb-3 fw-normal">Giriş yap</h1>
            </div>

            <div *ngIf="!rememberedEmail">
                <div class="form-floating">
                    <input formControlName="email" type="email" class="form-control" id="signinemail"
                        placeholder="name@example.com">
                    <label for="signinemail">E-posta adresi</label>
                </div>
            </div>

            <div class="form-floating">
                <input formControlName="password" type="password" class="form-control" id="signinpassword"
                    placeholder="password">
                <label for="signinpassword">Parola</label>
            </div>

            <div class="checkbox mb-3">
                <label *ngIf="!rememberedEmail">
                    <input type="checkbox" value="remember-me" [(ngModel)]="rememberMe"
                        [ngModelOptions]="{standalone: true}"> E-postamı hatırla
                </label>
                <a *ngIf="rememberedEmail" (click)="deleteRememberedEmail()" href="account/login">Farklı
                    hesapla oturum aç</a>
            </div>
            <button (click)="login()" class="w-100 btn btn-lg btn-primary">Giriş yap</button>
        </form>
    </main>
</body>