<body class="text-center account-page">
    <main class="form-account account-card">
        <div class="card-body">
            <div class="logo" style="font-size: 40px;"><span>Golden</span><span><span>Car</span></span></div>
            <hr class="solid">
            <form [formGroup]="loginForm" class="mt-4">
                <div *ngIf="rememberedEmail">
                    <div *ngIf="rememberedEmail != null">
                        <h5 class="mb-4 fw-normal text-light">Hoşgeldiniz <span class="logo"
                                style="text-transform: none;"><span>{{rememberedEmail}}</span></span></h5>
                    </div>
                </div>

                <div *ngIf="!rememberedEmail">
                    <div class="form-floating mb-2">
                        <input formControlName="email" type="email" class="form-control" id="signinemail"
                            placeholder="name@example.com">
                        <label for="signinemail">E-posta adresi</label>
                    </div>
                </div>

                <div class="form-floating">
                    <input formControlName="password" type="password" class="form-control" id="signinpassword"
                        placeholder="password">
                    <label for="signinpassword">Parola</label>
                </div>

                <div class="checkbox mb-3 mt-3 text-light">
                    <label *ngIf="!rememberedEmail">
                        <input type="checkbox" value="remember-me" [(ngModel)]="rememberMe"
                            [ngModelOptions]="{standalone: true}"> E-postamı hatırla
                    </label>
                    <a style="color: white;" *ngIf="rememberedEmail" (click)="deleteRememberedEmail()"
                        href="account/login">Farklı bir
                        hesapla oturum aç</a>
                </div>
                <button (click)="login()" class="w-100 btn btn-lg"
                    style="background-color: var(--firstThemeColor); color: var(--secondThemeColor);"><strong>GİRİŞ
                        YAP</strong></button>

                <div class="text-light mt-3" style="font-size:14px">
                    Henüz kayıt olmadın mı? <a routerLink="/account/register"
                        style="color: var(--firstThemeColor);">Hemen
                        üye ol!</a>
                </div>
            </form>
        </div>
    </main>
</body>