<div *ngIf="carDataLoaded == false" class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<!-- Modal -->
<div *ngIf="carDataLoaded" class="modal fade" data-bs-backdrop="static" id="araciSepeteEkle" tabindex="-1" aria-labelledby="araciSepeteEkleBaslik"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="araciSepeteEkleBaslik">Aracı Sepete Ekle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form>
        <div class="modal-body">
          <div class="row ">
            <div class="col-md-5 d-flex align-items-center">
              <img [src]="getImagePath(currentCar.carImages[0].imagePath)" height="120" class="d-block w-100" alt="...">
            </div>

            <div class="col-md-7">
              <div class="text-center" style="width: 16.5rem;">
                <div class="card-body">
                  <h3 class="card-title">{{currentCar.brandName}} {{currentCar.modelName}}</h3>
                  <h5 class="card-subtitle mb-2 text-muted">Ödenecek Tutar</h5>
                  <h4><strong>
                    <div *ngIf="rentalPeriod && validateRentalDates===true && rentalConfirmation">
                      <p *ngIf="rentalConfirmation.data===true" class="card-text text-success">
                        {{currentCar.dailyPrice * rentalPeriod |
                        currency:"":""}}₺</p>
                      </div>
                    </strong></h4>
                    
                </div>
              </div>
            </div>
          </div><br>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-center"><strong>Kiralama Tarihi: </strong></label>
            <div class="col-sm-8"><input [(ngModel)]="rentDate"
                (ngModelChange)="validateReservationDates(rentDate,returnDate)"
                (ngModelChange)="checkIfAnyReservationsBetweenSelectedDates(currentCar.id, rentDate, returnDate)"
                (ngModelChange)="calculateRentalPeriod()" name="rentnDate" onkeydown="return false" type="date"
                [min]="getDateNow()" class="form-control"></div>
          </div>
          <div *ngIf="rentDate" class="form-group row">
            <label class="col-sm-4 col-form-label text-center"><strong>Teslim Tarihi: </strong></label>
            <div class="col-sm-8"><input [(ngModel)]="returnDate"
                (ngModelChange)="validateReservationDates(rentDate,returnDate)"
                (ngModelChange)="checkIfAnyReservationsBetweenSelectedDates(currentCar.id, rentDate, returnDate)"
                (ngModelChange)="calculateRentalPeriod()" name="returnDate" onkeydown="return false" type="date"
                [min]="addDayToDate(convertStringToDate(rentDate),1)" class="form-control"></div>
          </div>
        </div>
      </form>      

      

      <div *ngIf="rentalConfirmation && validateRentalDates===true">
        <div *ngIf="rentalConfirmation.data===false && (convertStringToDate(rentDate) > convertStringToDate(getDateNow()))">
          <div *ngIf="rentalPeriod" class="alert alert-danger text-center" role="alert">
            Araç için seçili tarihler arasında başka bir rezervasyon mevcut
          </div>
        </div>       
        <div *ngIf="rentalConfirmation.data===false && (convertStringToDate(rentDate) <= convertStringToDate(getDateNow()))">
          <div *ngIf="rentalPeriod" class="alert alert-danger text-center" role="alert">
            Araç daha önce kiralanmış
          </div>
        </div>
        <div *ngIf="rentalConfirmation.data===true">
          <div *ngIf="rentalPeriod" class="alert alert-success text-center" role="alert">
            <div>Araç <strong>{{rentalPeriod}}</strong> günlüğüne kiralanıyor</div>
          </div>
        </div>
      </div>
      <div *ngIf="rentDate && returnDate && validateRentalDates!==true">
        <div class="alert alert-danger text-center" role="alert">
          <div>Teslim tarihi, kiralama tarihinden büyük olmalıdır!</div>
        </div>
      </div>

      <div class="modal-footer">
        <div *ngIf="rentalConfirmation && validateRentalDates===true">
          <button *ngIf="rentalConfirmation.data==true" (click)="addToCart(currentCar,convertStringToDate(rentDate),convertStringToDate(returnDate))" type="button" class="btn btn-success"
            data-bs-dismiss="modal">Sepete Ekle</button>
        </div>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">İptal</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<div *ngIf="carDataLoaded == true" class="row">
  <div class="col-md-8">
    <h1 class="text-center">{{currentCar.brandName}} {{currentCar.modelName}}</h1>
    <div id="CarImagesCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button *ngFor="let carImage of currentCar.carImages; let i = index" type="button"
          data-bs-target="#CarImagesCarousel" attr.data-bs-slide-to="{{i}}" class="{{(i == 0) ? 'active' : ''}}"
          attr.aria-label="Slide {{i}}"></button>
      </div>
      <div class="carousel-inner">
        <div *ngFor="let carImage of currentCar.carImages; let i = index"
          class="{{(i == 0) ? 'carousel-item active' : 'carousel-item' }}">
          <img [src]="getImagePath(carImage.imagePath)" height="384" class="d-block w-100" alt="...">
        </div>
      </div>
      <div *ngIf="currentCar.carImages.length != 1">
        <button class="carousel-control-prev" type="button" data-bs-target="#CarImagesCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#CarImagesCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
  </div>

  <div class="col-md-4">
    <ul class="list-group">
      <li class=" list-group-item bg-primary bg-gradient text-light text-center mb-1 rounded ">
        <strong>Araç Detayları</strong>
      </li>
      <li class="list-group-item"><b>Marka: </b>{{currentCar.brandName}}</li>
      <li class="list-group-item"><b>Model: </b>{{currentCar.modelName}}</li>
      <li class="list-group-item"><b>Renk: </b>{{currentCar.colorName}}</li>
      <li class="list-group-item"><b>Model yılı: </b>{{currentCar.modelYear}}</li>
      <li class="list-group-item"><b>Açıklama: </b>{{currentCar.description}}</li>
      <li class="list-group-item"><b>Günlük Ücreti: </b>{{currentCar.dailyPrice}} ₺</li>
      <li class="list-group-item text-center"><button class="btn btn-success" role="button" data-bs-toggle="modal"
          data-bs-target="#araciSepeteEkle">Kirala ({{currentCar.dailyPrice}} ₺)</button></li>
    </ul>
  </div>
</div><br><br><br>
<div *ngIf="carDataLoaded == true" class="row">
  <div class="card-header">
    <h5>Markanın Diğer Araçları</h5>
  </div>
  <div *ngFor="let subCar of carsOfCurrentBrand" class="card border border-light" style="width: 18rem;">
    <div>
      <img [src]="getImagePath(subCar.carImages[0].imagePath)" routerLink="/cars/car-details/{{subCar.id}}" height="168"
        class="card-img-top" alt="...">
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">{{subCar.brandName}} {{subCar.modelName}}</h5>
      <h5 class="card-title text-center">{{subCar.dailyPrice}} ₺</h5>
      <div class="text-center"><a routerLink="/cars/car-details/{{subCar.id}}"
          class="btn btn-primary text-center">İncele</a></div>
    </div>
  </div>
</div>