<div  *ngIf="dataLoaded == true" class="row">
  <div class="col-md-8">
    <div id="CarImagesCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button *ngFor="let carImage of currentCar.carImages; let i = index" type="button"
          data-bs-target="#CarImagesCarousel" attr.data-bs-slide-to="{{i}}" class="{{(i == 0) ? 'active' : ''}}"
          attr.aria-label="Slide {{i}}"></button>
      </div>
      <div class="carousel-inner">
        <div *ngFor="let carImage of currentCar.carImages; let i = index"
          class="{{(i == 0) ? 'carousel-item active' : 'carousel-item' }}">
          <img [src]="getImagePath(carImage.imagePath)" height="384" class="d-block w-100" alt="...">
        </div>
      </div>
      <div *ngIf="currentCar.carImages.length != 1">
        <button class="carousel-control-prev" type="button" data-bs-target="#CarImagesCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#CarImagesCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
  </div>

  <div class="col-md-4">
    <ul class="list-group">
      <li class=" list-group-item bg-primary bg-gradient text-light text-center mb-1 rounded ">
        <strong>Araç Detayları</strong>
      </li>
      <li class="list-group-item"><b>Marka: </b>{{currentCar.brandName}}</li>
      <li class="list-group-item"><b>Model: </b>{{currentCar.modelName}}</li>
      <li class="list-group-item"><b>Renk: </b>{{currentCar.colorName}}</li>
      <li class="list-group-item"><b>Model yılı: </b>{{currentCar.modelYear}}</li>
      <li class="list-group-item"><b>Açıklama: </b>{{currentCar.description}}</li>
      <li class="list-group-item text-center"><button onClick="alert('Kiralama işlemi henüz yapılamıyor.')"
          class="btn btn-success" role="button">Kirala ({{currentCar.dailyPrice}} ₺)</button></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="card-header">
    <h5>Markanın Diğer Araçları</h5>
  </div>
  <div *ngFor="let subCar of carsOfCurrentBrand" class="card" style="width: 18rem;">
    <div>
      <img [src]="getImagePath(subCar.carImages[0].imagePath)" routerLink="/cars/car-details/{{subCar.id}}" height="192" width="108" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">{{subCar.brandName}} {{subCar.modelName}}</h5>
      <h5 class="card-title text-center">{{subCar.dailyPrice}} ₺</h5>
      <div class="text-center"><a routerLink="/cars/car-details/{{subCar.id}}"
          class="btn btn-primary text-center">İncele</a></div>
    </div>
  </div>
</div>