<li class="nav-item">
    <div class="btn-group">
        <button class="btn btn-warning rounded"
            style="width: 140px; height: 43px; background-color: var(--firstThemeColor); border-color: var(--firstThemeColor);"
            type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="row">
                <div class="col-3">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="var(--secondThemeColor)"
                            class="bi bi-cart2" viewBox="0 0 16 16">
                            <path
                                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                        </svg>
                    </span>
                    <span class="cartLength">
                        {{cartItems.length}}
                    </span>
                </div>
                <div class="col-9">
                    <strong style="color: var(--secondThemeColor)">Sepetim</strong>
                </div>
            </div>

        </button>
        <ul class="dropdown-menu dropdown-menu-end shadow" style="min-width: 300px; max-width: 400px;"
            aria-labelledby="dropdownMenu2">
            <li>
                <h6 class="dropdown-header">Sepetim ({{cartItems.length}} araç)</h6>
            </li>
            <div *ngIf="cartItems.length!==0">
                <li>
                    <hr class="dropdown-divider">
                </li>

                <li *ngFor="let cartItem of cartItems">
                    <div class="container" routerLink="/car-details/{{cartItem.car.id}}">
                        <div style="display: flex; flex: 1 1 auto;">
                            <div class="d-flex align-items-center">
                                <img class="" [src]="getImagePath(cartItem.car.carImages[0].imagePath)" height="80" alt="..." style="object-fit: cover;">
                            </div>
                            <div class="card-body" style="min-width: 200px; max-width: 300px;">
                                <h6 class="card-title">{{cartItem.car.brandName}} {{cartItem.car.modelName}}</h6>

                                <div class="row">
                                    <p class="card-text">
                                        <small class="text-muted">{{showDate(cartItem.rentDate)}} -
                                            {{showDate(cartItem.returnDate)}}<br>
                                            ({{getRentalPeriod(cartItem.rentDate,cartItem.returnDate)}} gün
                                            kiralanıyor)</small>
                                    </p>
                                </div>
                                <div class="row d-flex justify-content-end align-items-center">
                                    <div class="col-md-7">
                                        <p class="card-text text-danger">
                                            <strong>{{cartItem.car.dailyPrice *
                                                getRentalPeriod(cartItem.rentDate,cartItem.returnDate) |
                                                currency:"":""}}₺</strong>
                                        </p>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="text-end">
                                            <button type="button" (click)="removeFromCart(cartItem.car)"
                                                class="btn btn-danger btn-sm">Sil</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <span class="d-flex flex-column">
                        <button routerLink="cart" class="btn btn-outline-success text-center"
                            type="button"><strong>SEPETE GİT</strong></button>
                    </span>
                </li>
            </div>
        </ul>
    </div>
</li>