<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="black"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-primary" disabled>Resmi değiştir</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row card">
                <div class="card-header">Profilini Güncelle</div>
                <div class="card-body">
                    <form [formGroup]="updateProfileForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input formControlName="firstName" type="text" class="form-control"
                                        id="updatefirstname" placeholder="Ad">
                                    <label for="signinemail">Ad</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input formControlName="lastName" type="text" class="form-control"
                                        id="updatelastname" placeholder="Soyad">
                                    <label for="signinemail">Soyad</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button (click)="updateProfile()" class="btn btn-primary float-end px-3">Güncelle</button>
                </div>
            </div>
            <div class="row mt-3 card">
                <div class="card-header">Şifreyi Değiştir</div>
                <div class="card-body">
                    <form [formGroup]="changePasswordForm">
                        <div class="form-floating">
                            <input formControlName="oldPassword" type="password" class="form-control"
                                id="oldPassword" placeholder="Mevcut şifre">
                            <label for="oldPassword">Eski şifre</label>
                        </div>
                        <div class="form-floating mt-3">
                            <input formControlName="newPassword" type="password" class="form-control" id="newpassword"
                                placeholder="Yeni şifre">
                            <label for="newpassword">Yeni şifre</label>
                        </div>
                        <div class="form-floating mt-3">
                            <input formControlName="confirmNewPassword" type="password" class="form-control"
                                id="confirmnewpassword" placeholder="Yeni şifre tekrar">
                            <label for="confirmnewpassword">Yeni şifre tekrar</label>
                        </div>

                    </form>
                </div>
                <div class="card-footer">
                    <button (click)="changePassword()" class="btn btn-primary float-end px-3">Şifreyi değiştir</button>
                </div>
            </div>
        </div>
    </div>
</div>