<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h5>Renk ekle</h5>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="colorAddForm">
            <div class="align-items-center">
                <div class="form-group">
                    <input type="text" id="colorName" formControlName="name" class="form-control"
                        placeholder="Renk adı" />
                </div>
            </div>
        </form>
        <div class="row mt-3">
            <div class="d-flex justify-content-end">
                <button (click)="add()" type="button" class="btn btn-success me-2">Ekle</button>
                <button (click)="closeColorAddModal()" type="button" class="btn btn-danger">İptal</button>
            </div>
        </div>
    </div>
</div>