<body class="text-center account-page">
    <main class="form-account account-card">
        <div class="card-body">
            <div class="logo" style="font-size: 40px;"><span>Golden</span><span><span>Car</span></span></div>
            <hr class="solid">
            <form [formGroup]="registerForm" class="mt-4">
                <div class="form-floating mb-2">
                    <input formControlName="firstName" type="text" class="form-control" id="signupfirstname"
                        placeholder="Ad">
                    <label for="signupfirstname">Ad</label>
                </div>
                <div class="form-floating mb-2">
                    <input formControlName="lastName" type="text" class="form-control" id="signuplastname"
                        placeholder="Soyad">
                    <label for="signuplastname">Soyad</label>
                </div>
                <div class="form-floating mb-2">
                    <input formControlName="email" type="email" class="form-control" id="signupemail"
                        placeholder="name@example.com">
                    <label for="signupemail">E-posta adresi</label>
                </div>
                <div class="form-floating mb-2">
                    <input formControlName="password" type="password" class="form-control" id="signuppassword"
                        placeholder="Parola">
                    <label for="signuppassword">Parola</label>
                </div>
                <div class="form-floating mb-2">
                    <input formControlName="confirmPassword" type="password" class="form-control"
                        id="signupconfirmpassword" placeholder="Parola tekrar">
                    <label for="signupconfirmpassword">Parola tekrar</label>
                </div>

                <div class="checkbox mb-3 mt-3 text-light">
                    <label>
                        <input type="checkbox" value="remember-me" [(ngModel)]="rememberMe"
                            [ngModelOptions]="{standalone: true}"> E-postamı hatırla
                    </label>
                </div>
                <button (click)="register()" class="w-100 btn btn-lg"
                    style="background-color: var(--firstThemeColor); color: var(--secondThemeColor);"
                    type="submit"><strong>ÜYE
                        OL</strong></button>

                <div class="text-light mt-3" style="font-size:14px">
                    Zaten bir hesabın var mı? <a routerLink="/account/login"
                        style="color: var(--firstThemeColor);">Hemen giriş yap!</a>
                </div>
            </form>
        </div>
    </main>
</body>