/* You can add global styles to this file, and also import other style files */
.mat-dialog-container {
  padding: 0px !important;
}

.band {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 15vw;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  background-color: whitesmoke;
  font-size: 8vw;
  border-radius: 50%;
  box-shadow: 1rem 1rem 1rem 0.05rem grey;
}

:root {
  --firstThemeColor: gold;
  --secondThemeColor: black;
  /* --pageHeight: 860px; */
}

.logo {
  text-decoration: none;
  text-align: center;
  list-style: none;
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  margin: auto;
  color: white;
}
.logo span {
  color: var(--firstThemeColor);
}
.logo span span {
  color: white;
}

hr.solid {
  border-top: 3px solid white;
}

/* Dividers - https://codepen.io/Oddgson/pen/VPrYbv */ 

.divider {
  position: relative;
  margin-top: 15px;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(91, 93, 97),
    transparent
  );
}

.div-arrow-down:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -4px;
  left: calc(50% - 7px);
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background-color: var(--icon-color);
  border-bottom: 1px solid rgb(48, 49, 51);
  border-right: 1px solid rgb(48, 49, 51);
}

.div-tab-down:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(50% - 10px);
  width: 20px;
  height: 14px;
  background-color: white;
  border-bottom: 1px solid rgb(48, 49, 51);
  border-left: 1px solid rgb(48, 49, 51);
  border-right: 1px solid rgb(48, 49, 51);
  border-radius: 0 0 8px 8px;
}

.div-stopper:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -6px;
  left: calc(50% - 7px);
  width: 14px;
  height: 12px;
  background-color: white;
  border-left: 1px solid rgb(48, 49, 51);
  border-right: 1px solid rgb(48, 49, 51);
}

.div-dot:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background-color: var(--firstThemeColor);
  border: 2px solid rgb(48, 49, 51);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white, 0 0 0 4px white;
}

/* Payment Credit Card - https://codepen.io/jamesdelaneyie/pen/dYVOgz */

.credit-card-base {
  font-family: Share Tech Mono;
  background-color: #9ba7b2;
  display: block;
  width: calc(681.9px * var(--card-scale));
  border-radius: calc(20px * var(--card-scale));
  -webkit-box-shadow: 0px 0px calc(10px * var(--card-scale)) 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px calc(10px * var(--card-scale)) 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px calc(10px * var(--card-scale)) 0px rgba(0, 0, 0, 1);
  border: calc(1px * var(--card-scale)) solid grey;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: calc(430px * var(--card-scale));
  background: linear-gradient(-125deg, #1d3349, #06121e 55%);
}

img.credit-card-chip {
  width: calc(200px * var(--card-scale));
  position: absolute;
  margin-top: calc(45px * var(--card-scale));
  margin-left: calc(16px * var(--card-scale));
}

.credit-card-emboss {
  font-family: Share Tech Mono;
  color: transparent;
  text-shadow: 
    calc(-2px * var(--card-scale)) calc(-2px * var(--card-scale)) calc(2px * var(--card-scale)) rgba(255, 255, 255, 1),
    calc(1px * var(--card-scale)) calc(1px * var(--card-scale)) calc(1px * var(--card-scale)) rgba(0, 0, 0, 0.9),
    calc(2px * var(--card-scale)) calc(-2px * var(--card-scale)) calc(4px * var(--card-scale)) rgba(255, 255, 255, 1),
    calc(-2px * var(--card-scale)) calc(-2px * var(--card-scale)) calc(2px * var(--card-scale)) rgba(0, 0, 0, 0.9),
    calc(-2px * var(--card-scale)) calc(2px * var(--card-scale)) calc(1px * var(--card-scale)) rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: calc(2px * var(--card-scale)) rgba(0, 0, 0, 0.4);
}

.credit-card-number {
  display: inline-block;
  margin-top: calc(210px * var(--card-scale));
  font-size: calc(49px * var(--card-scale));
  margin-left: calc(50px * var(--card-scale));
  position: relative;
  z-index: 999;
}

.credit-card-holder-name {
  font-size: calc(32px * var(--card-scale));
  padding-left: calc(21px * var(--card-scale));
  text-shadow: 
    calc(-2px * var(--card-scale)) calc(-1px * var(--card-scale)) calc(1px * var(--card-scale)) rgba(255, 255, 255, 1),
    calc(1px * var(--card-scale)) calc(1px * var(--card-scale)) calc(1px * var(--card-scale)) rgba(0, 0, 0, 1),
    calc(1px * var(--card-scale)) 0px calc(1px * var(--card-scale))rgba(255, 255, 255, 1),
    calc(-1px * var(--card-scale)) calc(-1px * var(--card-scale)) calc(1px * var(--card-scale)) rgba(0, 0, 0, 1),
    calc(-1px * var(--card-scale)) calc(1px * var(--card-scale)) calc(1px * var(--card-scale)) rgba(0, 0, 0, 1);
  -webkit-text-stroke: calc(1px * var(--card-scale)) rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding-top: calc(14px * var(--card-scale));
}

.credit-card-small-type {
  font-family: sans-serif;
  font-size: calc(15px * var(--card-scale));
  text-transform: uppercase;
  color: white;
  padding-left: calc(125px * var(--card-scale));
  line-height: calc(7px * var(--card-scale));
  letter-spacing: calc(0.7px * var(--card-scale));
  opacity: 0.7;
}

.credit-card-expire {
  font-size: calc(28px * var(--card-scale));
  padding-left: calc(6px * var(--card-scale));
  text-shadow: 
    calc(-2px * var(--card-scale)) calc(-1px * var(--card-scale)) calc(1px * var(--card-scale)) rgba(255, 255, 255, 1),
    calc(1px * var(--card-scale)) calc(1px * var(--card-scale)) calc(1px * var(--card-scale)) rgba(0, 0, 0, 1),
    calc(1px * var(--card-scale)) 0px calc(1px * var(--card-scale))rgba(255, 255, 255, 1),
    calc(-1px * var(--card-scale)) calc(-1px * var(--card-scale)) calc(1px * var(--card-scale)) rgba(0, 0, 0, 1),
    calc(-1px * var(--card-scale)) calc(1px * var(--card-scale)) calc(1px * var(--card-scale)) rgba(0, 0, 0, 1);
  -webkit-text-stroke: calc(1px * var(--card-scale)) rgba(0, 0, 0, 0.2);
  -webkit-text-stroke: calc(1px * var(--card-scale)) rgba(0, 0, 0, 0.2);
}

.credit-card-logo[src="/assets/images/visa.png"] {
  width: calc(160px * var(--card-scale));
  margin-left: calc(460px * var(--card-scale));
  margin-top: calc(-150px * var(--card-scale));
}

.credit-card-logo[src="/assets/images/master-card.png"] {
  width: calc(160px * var(--card-scale));
  margin-left: calc(470px * var(--card-scale));
  margin-top: calc(-170px * var(--card-scale));
}
