<div *ngIf="currentCar && brands && colors && years.length>0" class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h5>{{currentCar.brandName}} {{currentCar.modelName}} aracını güncelle</h5>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="carUpdateForm">
            <div class="align-items-center">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div *ngIf="carImages.length>0" class="row">
                                    <div id="AddCarImagesCarousel" class="carousel carousel-dark slide"
                                        data-bs-ride="carousel">
                                        <div class="carousel-indicators">
                                            <button *ngFor="let carImage of carImages; let i = index" type="button"
                                                data-bs-target="#AddCarImagesCarousel" attr.data-bs-slide-to="{{i}}"
                                                class="{{(i == 0) ? 'active' : ''}}"
                                                attr.aria-label="Slide {{i}}"></button>
                                        </div>
                                        <div class="carousel-inner">
                                            <div *ngFor="let carImage of carImages; let i = index"
                                                class="{{(i == 0) ? 'carousel-item active' : 'carousel-item' }}">
                                                <img [src]="getImagePath(carImage.imagePath)" height="100%" width="100%"
                                                    alt="image not found">
                                            </div>
                                        </div>
                                        <div *ngIf="carImages.length>1">
                                            <button class="carousel-control-prev" type="button"
                                                data-bs-target="#AddCarImagesCarousel" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button"
                                                data-bs-target="#AddCarImagesCarousel" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="carImages.length===0">
                                    <img src="/assets/images/addcarimage.png" height="200" alt="image not found">
                                </div>
                                <div class="row mt-2 ms-2">
                                    <input #file class="form-control" type="file" id="carImagesFiles" accept="image/*"
                                        (change)="addCarImagesToUploadAndPathList(file.files)">
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <div *ngIf="carImages.length>0 || uploadImagesPaths.length > 0" class="row">
                                    <ul class="list-group">
                                        <li *ngFor="let carImage of carImages" class="list-group-item">
                                            <div class="d-flex justify-content-between">
                                                <img [src]="getImagePath(carImage.imagePath)" height="30"
                                                    alt="image not found">
                                                <span>
                                                    <svg (click)="deleteImageFromCarImages(carImage)"
                                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="red" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                                                        <path
                                                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z" />
                                                    </svg>
                                                </span>
                                            </div>
                                        </li>
                                        <li *ngFor="let uploadImage of uploadImagesPaths"
                                            class="list-group-item text-light"
                                            style="background-color: rgb(100, 197, 113);">
                                            <div class="d-flex justify-content-between">
                                                <img [src]="uploadImage" height="30" alt="image not found">
                                                <span>
                                                    <svg (click)="deleteImageFromUploadFiles(uploadImage)"
                                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="red" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                                                        <path
                                                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z" />
                                                    </svg>
                                                </span>
                                            </div>

                                        </li>
                                    </ul>
                                    <p class="text-center text-muted">
                                        <small>{{carImages.length + uploadImagesPaths.length}}/5 resim</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <div class="form-group row align-items-center">
                                        <div class="col-md-3 text-center">
                                            <label for="carBrandId">
                                                Marka:
                                            </label>
                                        </div>
                                        <div class="col-md-9">
                                            <select class="form-select" id="carBrandId" formControlName="brandId">
                                                <option value="" selected disabled hidden>{{currentCar.brandName}}
                                                </option>
                                                <option *ngFor="let brand of brands" [value]="brand.id">
                                                    {{brand.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row align-items-center">
                                        <div class="col-md-3 text-center">
                                            <label for="carColorId">Renk:</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select class="form-select" id="carColorId" formControlName="colorId">
                                                <option value="" selected disabled hidden>{{currentCar.colorName}}
                                                </option>
                                                <option *ngFor="let color of colors" [value]="color.id">
                                                    {{color.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row align-items-center">
                                        <div class="col-md-4 text-center">
                                            <label class="text-nowrap" for="carColorId">Model Yılı:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select class="form-select" id="carModelYear" formControlName="modelYear">
                                                <option value="" selected disabled hidden>{{currentCar.modelYear}}
                                                </option>
                                                <option *ngFor="let year of years" [value]="year">{{year}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <div class="form-group row align-items-center">
                                        <div class="col-md-3 text-center">
                                            <label for="carBrandId">Model:</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" id="carModelName" formControlName="modelName"
                                                class="form-control" [placeholder]="currentCar.modelName" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row align-items-center">
                                        <div class="col-md-4">
                                            <label for="carColorId" class="text-nowrap">Günlük Ücreti:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" id="carDailyPrice" formControlName="dailyPrice"
                                                class="form-control float-end" [placeholder]="currentCar.dailyPrice" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 align-items-end">
                                <div class="form-group row align-items-center">
                                    <div class="col-md-2">
                                        <label for="carColorId">Açıklama:</label>
                                    </div>
                                    <div class="col-md-10">
                                        <input type="text" id="carDescription" formControlName="description"
                                            class="form-control" [placeholder]="currentCar.description" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row mt-3">
            <div class="d-flex justify-content-end">
                <button (click)="update()" type="button" class="btn btn-success me-2">Güncelle</button>
                <button (click)="closeCarUpdateModal()" type="button" class="btn btn-danger">İptal</button>
            </div>
        </div>
    </div>
</div>